@import "tailwindcss";

body{
  background-color: white;
}
.bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff; /* initial */
  z-index: -999;
  pointer-events: none;
  transition: background 0.5s ease;
}